body{
    background-color: rgb(124, 88, 88);
}
.pedido{

    height:max-content;
    width: max-content;
    Background-color: white;
    border-radius: 10px;
    color: black;
    margin: 10px;
}

/* CSS PARA O MODAL AO CENTRO */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
/* FIM DE CSS DO MODAL AO CENTRO */


/*  HR COM TEXTO NO CENTRO */
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.tras *{
    margin-bottom: 10px;
}
.tras .btn{
    width: 100%;
    padding: 20px;
}
#feito{
    
}