#inicio{
  margin:5px;
}

/* BOTOES INICIO */
#home .buttonStart{
  width: 400px;
  margin: 10px;
  font-size: 20px;
  padding: 15px;
  vertical-align: center;
}

/* SELECIONAR MESAS */
#inicio .buttonsTables{
  width: 400px;
  font-size: 20px;
  margin: 3px;
  padding: 10px;
}

#inicio .showTables{
  margin-top: 20px;
}

#inicio .secTitle{
  margin-top: 50px;
}

#inicio .showTables input{
  font-size: 20px;
  margin-bottom: 20px;
}

#inicio .showTables .buttonsBottom{
  font-size: 20px;
  margin-top: 20px;
}

/* SELECIONAR CATEGORIAS */
#cats .buttonsCat{
  width: 400px;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
}

#cats .buttonEnd{
  width: 400px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

/* SELECIONAR PRODUTO */
#prods .buttonProd{
  width: 400px;
  font-size: 20px;
  margin: 3px;
  padding: 10px;
}

#prods .buttonSub{
  width: 400px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #54ff00;
  border-color: #54ff00;
}

/* TABELA PRODUTOS */
#prodsList .tableProds th{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

#prodsList .tableProds td{
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
  font-size: 15px;
}

#prodsList .tableProds .header{
  background-color: #999999;
}

#prodsList .tableProds .stripe{
  background-color: #dbdbdb;
}

#prodsList .tableProds .left{
  border-left: 1px solid #000;
}

#prodsList .tableProds .right{
  border-right: 1px solid #000;
}

/* TIPO DO PRODUTO */
#prodsType .buttonTypeProd{
  width: 400px;
  font-size: 20px;
  margin: 3px;
  padding: 10px;
}

/* BOTOES TABELAS MOSTRAR PRODUTOS */
#prodsList .tableButtons{
  width: 200px;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}

/* BOTAO ADICIONAR PRODUTO NO SHOW DETAILS */
#addProds .buttonAdd{
  font-size: 16px;
  margin-top: 30px;
  padding: 15px;
}

/* ESTILO TITULOS */
.title{
  margin-bottom: 50px;
}

/* PARA TUDO QUE ESTÁ NO FIM */
.bottom{
  margin-bottom: 50px;
}


/* MEDIA QUERYS */



/* MEDIA QUERY PARA TELEMOVEL */
@media screen and (max-width: 480px) {
  /* BOTOES INICIO */
  #home .buttonStart{
    width: 300px;
  }

  /* SELECIONAR MESAS */
  #inicio .buttonsTables{
    width: 200px;
  }

  #inicio .showTables{
    margin-top: 20px;
  }

  #inicio .secTitle{
    margin-top: 50px;
  }

  #inicio .showTables input{
    font-size: 20px;
    margin-bottom: 20px;
  }

  #inicio .showTables .buttonsBottom{
    font-size: 20px;
    margin-top: 20px;
  }

  /* SELECIONAR CATEGORIAS */
  #cats .buttonsCat{
    width: 200px;
    font-size: 20px;
    margin: 7px;
    padding: 10px;
  }

  #cats .buttonEnd{
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  /* SELECIONAR PRODUTO */
  #prods .buttonProd{
    width: 200px;
    font-size: 20px;
    margin: 3px;
    padding: 10px;
  }

  #prods .buttonSub{
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #54ff00;
    border-color: #54ff00;
  }

  /* TABELA PRODUTOS */
  #prodsList .tableProds th{
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }

  #prodsList .tableProds td{
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #000;
    font-size: 15px;
  }

  #prodsList .tableProds .header{
    background-color: #999999;
  }

  #prodsList .tableProds .stripe{
    background-color: #dbdbdb;
  }

  #prodsList .tableProds .left{
    border-left: 1px solid #000;
  }

  #prodsList .tableProds .right{
    border-right: 1px solid #000;
  }

  /* TIPO DO PRODUTO */
  #prodsType .buttonTypeProd{
    width: 200px;
    font-size: 20px;
    margin: 3px;
    padding: 10px;
  }

  /* BOTOES TABELAS MOSTRAR PRODUTOS */
  #prodsList .tableButtons{
    width: 200px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
  }

  /* BOTAO ADICIONAR PRODUTO NO SHOW DETAILS */
  #addProds .buttonAdd{
    font-size: 16px;
    margin-top: 30px;
    padding: 15px;
  }

  /* ESTILO TITULOS */
  .title{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 380px) {
  /* BOTOES INICIO */
  #home .buttonStart{
    width: 250px;
    font-size: 15px;
  }

  /* SELECIONAR MESAS */
  #inicio .buttonsTables{
    width: 150px;
    font-size: 15px;
  }

  #inicio .showTables{
    margin-top: 20px;
  }

  #inicio .secTitle{
    margin-top: 50px;
  }

  #inicio .showTables input{
    font-size: 15px;
    margin-bottom: 20px;
  }

  #inicio .showTables .buttonsBottom{
    font-size: 15px;
    margin-top: 20px;
  }

  /* SELECIONAR CATEGORIAS */
  #cats .buttonsCat{
    width: 150px;
    font-size: 15px;
    margin: 7px;
    padding: 10px;
  }

  #cats .buttonEnd{
    width: 150px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  /* SELECIONAR PRODUTO */
  #prods .buttonProd{
    width: 150px;
    font-size: 15px;
    margin: 3px;
    padding: 10px;
  }

  #prods .buttonSub{
    width: 150px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #54ff00;
    border-color: #54ff00;
  }

  /* TABELA PRODUTOS */
  #prodsList .tableProds th{
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
  }

  #prodsList .tableProds td{
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #000;
    font-size: 15px;
  }

  #prodsList .tableProds .header{
    background-color: #999999;
  }

  #prodsList .tableProds .stripe{
    background-color: #dbdbdb;
  }

  #prodsList .tableProds .left{
    border-left: 1px solid #000;
  }

  #prodsList .tableProds .right{
    border-right: 1px solid #000;
  }

  /* TIPO DO PRODUTO */
  #prodsType .buttonTypeProd{
    width: 150px;
    font-size: 15px;
    margin: 3px;
    padding: 10px;
  }

  /* BOTOES TABELAS MOSTRAR PRODUTOS */
  #prodsList .tableButtons{
    width: 150px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
  }

  /* BOTAO ADICIONAR PRODUTO NO SHOW DETAILS */
  #addProds .buttonAdd{
    font-size: 16px;
    margin-top: 30px;
    padding: 15px;
  }

  /* ESTILO TITULOS */
  .title{
    margin-bottom: 50px;
  }
}